.cardDisplay {
  display: flex;
  flex-direction: row;
  // width: 60%;
  // height: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // background-color: pink;
  margin: 2em;
}

.imgs {
  width: 300px;
  height: 200px;
}

.details {
  flex-direction: column;
}
