.displayBlock {
  display: block;
  margin: 1em;
}

.moveRight {
  float: right;
  margin-top: 7px;
}

.makeH5 {
  font-weight: bold;
}

.displayTextArea {
  width: 70%;
}

.displayLable {
  margin: 1em;
}

.displaySelect {
  margin-left: 5px;
}

.spanWidth {
  width: 100px;
  margin: 10px;
  display: inline-block;
}
