.footerClass {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  .logo {
    // text-transform: uppercase;
    margin: 0.5em;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
  }
  .logostyle {
    font-style: italic;
    font-size: 2em;
    color: cadetblue;
  }
}
