#nav {
  height: 70px;
  box-shadow: 0 0 8px -2px gray;
  display: flex;
  align-items: center;
}

.logo {
  margin: 2em;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 1.5em;
  font-style: italic;
}
.logostyle {
  font-style: italic;
  font-size: 1.5em;
  color: cadetblue;
}

.searchDiv {
  margin: 2em;
  width: 30%;
  border: 2px solid rgb(134, 132, 132);
  padding: 4px;
  border-radius: 15px;
  display: flex;
}
.inputSearch {
  width: 100%;
  height: 2em;
  border-style: hidden;
}
.icon {
  display: inline-flex;
  margin: 0.4em 0.5em auto 0.4em;
}
