#nav {
  height: 70px;
  width: 100%;
  box-shadow: 0 0 8px -2px gray;
  display: flex;
  align-items: center;

  .logo {
    margin: 2em;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
  .logostyle {
    font-style: italic;
    font-size: 1.5em;
    color: cadetblue;
  }

  .searchDiv {
    margin: 2em;
    width: 30%;
    border: 2px solid rgb(134, 132, 132);
    padding: 4px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .inputSearch {
    width: 100%;
    height: 2em;
    margin-left: 2px;
    border-style: hidden;
    outline: none;
  }

  .icon {
    display: inline-flex;
    margin: 0.4em 0.5em auto 0.4em;
  }

  .btn-primary {
    margin: 0.5em;
    // margin-bottom: 1em;
    text-decoration: none;
    color: rgb(51, 133, 136);
    font-weight: bold;
    text-transform: capitalize;
    background-color: white;
    // border-color: white;
    border-style: hidden;
  }
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  .btn-primaryy {
    margin: 0.5em;
    text-decoration: none;
    color: rgb(51, 133, 136);
    // font-weight: bold;
    text-transform: capitalize;
    background-color: white;
    display: block;
  }

  .btn-primary:focus {
    border-color: white;
    box-shadow: none;
  }
}
