.displayImage {
  width: 50%;
  animation: fadeIn 5s;
}
.HomeDiv {
  align-items: center;
  justify-content: center;
  display: flex;
}

.cardHome {
  width: 40%;
  height: 20%;
  padding: 15px;
  margin: auto;
  margin-top: 15px;
  background-color: cadetblue;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// @media (min-width: 768px)
